/*test file stuff*/
#bodd{
    background-color: black;
}
#ppap{
    color: blueviolet;
    font-family: "press Start 2P", "consolas";
}
#p1{
    color: #00ff70;
    font-size: 24px;
    font-family: noto Sans;
}
#backBox1{
    transform: translateX(50%);
    color: #00ff70;
    font-size: 24px;
    font-family: noto Sans;
}
#btn1{
    color: #00ff70;
    font-size: 24px;
    font-family: noto Sans;
    background-color: black;
    border: none;
    transition-duration: 0.4s;
}
#btn2{
    color: #00ff70;
    font-size: 24px;
    font-family: noto Sans;
    background-color: black;
    border: none;
    transition-duration: 0.4s;
}
#btn1:hover {
    background-color: #4CAF50;
    color: white;
}
#btn2:hover {
    background-color: #ff0000;
    color: black;
}


/*actually uesed stuff*/
.header{
    padding: 1%;
    background: #4c4d4c;
}
#header1{ /*index.ln8*/
    padding: 1%;
}
#headLinks{ /*index.ln9*/
    display: block;
}
#link{
    margin-right: 5%;
}
#div1{
    display: block;
    text-align: center;
}
.div2{ /*blog.ln17 & about.ln17*/
    margin: 5%;
}
#aboutImg { /*about.ln19*/
    float: left;
    margin-right: 1%;
}
h1{
    text-align: center;
}
.body{
    background: linear-gradient(rgb(124, 126, 231), rgb(0, 140, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
.body101{
    background: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
footer{
    padding:25px;
    background-color:#282d32;
    margin-top: 100%;

    text-align:center;
    opacity:1;
    margin-bottom:0;
    color: gold;
}

#ppo1{ /*blog.ln14*/
    text-decoration: underline;
    color: white
}
.textP{ /*about.ln22 & blog.ln18*/
    font-size: 20px;
    line-height: 1.5;
}
