/*test file stuff*/
#bodd{
    background-color: black;
}
#ppap{
    color: blueviolet;
    font-family: "press Start 2P", "consolas";
}
#p1{
    color: #00ff70;
    font-size: 24px;
    font-family: noto Sans;
}

h1{
    text-align: center;
}